Debug
Release
.vs
obj/Debug
obj/Release

*.suo
*.dll
*.pdb
*.orig
*.nupkg
*.mdf
*.ldf
*.pubxml
*.pubxml.user
*.bin
*.log
*.user

bin/
obj/
Logs/
Logs/
dist/
Deploy/
packages/
node_modules/
.idea/

debug.log
.vscode/
.vs/
.idea

*.ncrunchproject
*.ncrunchsolutions
*.cache
